<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.front_vs_back">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        android:name=".Count">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.front_vs_back.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />

        </provider>

        <activity android:name=".LoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Activity_one" />
        <activity android:name=".Activity_two" />
        <activity android:name=".Activity_three" />
        <activity android:name=".Activity_four" />
        <activity android:name=".Activity_five" />
        <activity android:name=".Activity_six" />
        <activity android:name=".Activity_seven" />
        <activity android:name=".Activity_eight" />
        <activity android:name=".Activity_nine" />
        <activity android:name=".Activity_ten" />
        <activity android:name=".Activity_eleven" />
        <activity android:name=".Activity_twelve" />
        <activity android:name=".Activity_thirteen" />

        <activity android:name=".ResultActivity" />
        <activity android:name=".ResultLoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

    </application>

</manifest>